In [1]:
import boto3
import pandas as pd

In [2]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\owner\anaconda3\lib\site-packages (1.0.0)

In [3]:
from dotenv import dotenv_values
config = dotenv_values(".env")

In [4]:
access_key = config['ACCESS_KEY']
secret_key = config['SECRET_ACCESS_KEY']

s3 = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)

bucket_name = 'mindex-data-analytics-code-challenge'

s3_obj = s3.get_object(Bucket=bucket_name, Key='bengals.csv')
bengals_df = pd.read_csv(s3_obj['Body'])

s3_obj = s3.get_object(Bucket=bucket_name, Key='boyd_receiving.csv')
boyd_df = pd.read_csv(s3_obj['Body'])

s3_obj = s3.get_object(Bucket=bucket_name, Key='chase_receiving.csv')
chase_df = pd.read_csv(s3_obj['Body'])

s3_obj = s3.get_object(Bucket=bucket_name, Key='higgins_receiving.csv')
higgins_df = pd.read_csv(s3_obj['Body'])

print("DataFrame for bengals.csv:")
print(bengals_df.shape)
print(bengals_df)

print("\nDataFrame for boyd_receiving.csv:")
print(boyd_df.shape)
print(boyd_df)

print("\nDataFrame for chase_receiving.csv:")
print(chase_df.shape)
print(chase_df)

print("\nDataFrame for higgins_receiving.csv:")
print(higgins_df.shape)
print(higgins_df)

DataFrame for bengals.csv:
(25, 4)
     Week Opponent Location  Result
0    PRE1       TB     Away     1.0
1    PRE2      WSH     Away     0.0
2    PRE3      MIA     Home     0.0
3    REG1      MIN     Home     1.0
4    REG2      CHI     Away     0.0
5    REG3      PIT     Away     1.0
6    REG4      JAX     Home     1.0
7    REG5       GB     Home     0.0
8    REG6      DET     Away     1.0
9    REG7      BAL     Away     1.0
10   REG8      NYJ     Away     0.0
11   REG9      CLE     Home     0.0
12  REG10      NaN      NaN     NaN
13  REG11       LV     Away     1.0
14  REG12      PIT     Home     1.0
15  REG13      LAC     Home     0.0
16  REG14       SF     Home     0.0
17  REG15      DEN     Away     1.0
18  REG16      BAL     Home     1.0
19  REG17       KC     Home     1.0
20  REG18      CLE     Away     0.0
21  POST1       LV     Home     1.0
22  POST2      TEN     Away     1.0
23  POST3       KC     Away     1.0
24  POST4      LAR  Neutral     0.0

DataFrame for boyd_receiving.csv:
(20, 3)
     Week  Yards  TD
0    REG1     32   0
1    REG2     73   0
2    REG3     36   1
3    REG4    118   0
4    REG5     24   0
5    REG6      7   0
6    REG7     39   0
7    REG8     69   1
8    REG9     11   0
9   REG11     49   0
10  REG12     13   0
11  REG13     85   0
12  REG14     55   0
13  REG15     96   1
14  REG16     85   1
15  REG17     36   1
16  POST1     26   1
17  POST2     17   0
18  POST3     19   0
19  POST4     48   0

DataFrame for chase_receiving.csv:
(21, 3)
     Week  Yards  TD
0    REG1    101   1
1    REG2     54   1
2    REG3     65   2
3    REG4     77   0
4    REG5    159   1
5    REG6     97   0
6    REG7    201   1
7    REG8     32   1
8    REG9     49   0
9   REG11     32   1
10  REG12     39   0
11  REG13     52   0
12  REG14     77   2
13  REG15      3   0
14  REG16    125   0
15  REG17    266   3
16  REG18     26   0
17  POST1    116   0
18  POST2    109   0
19  POST3     54   1
20  POST4     89   0

DataFrame for higgins_receiving.csv:
(18, 3)
     Week  Yards  TD
0    REG1     58   1
1    REG2     60   1
2    REG5     32   0
3    REG6     44   0
4    REG7     62   0
5    REG8     97   0
6    REG9     78   0
7   REG11     15   0
8   REG12    114   1
9   REG13    138   1
10  REG14    114   0
11  REG15     23   0
12  REG16    194   2
13  REG17     62   0
14  POST1     10   0
15  POST2     96   0
16  POST3    103   0
17  POST4    100   2

In [5]:
# Merge each data frame with bengals_df and rename new columns accordingly
merged_df = pd.merge(bengals_df, boyd_df, on='Week', how='left')
merged_df = merged_df.rename(columns={'Yards': 'Boyd_Yards', 'TD': 'Boyd_TD'})
merged_df = pd.merge(merged_df,chase_df , on='Week', how='left')
merged_df = merged_df.rename(columns={'Yards': 'Chase_Yards', 'TD': 'Chase_TD'})
merged_df = pd.merge(merged_df,higgins_df, on='Week', how='left')
merged_df = merged_df.rename(columns={'Yards': 'Higgins_Yards', 'TD': 'Higgins_TD'})

print(merged_df)

     Week Opponent Location  Result  Boyd_Yards  Boyd_TD  Chase_Yards  \
0    PRE1       TB     Away     1.0         NaN      NaN          NaN
1    PRE2      WSH     Away     0.0         NaN      NaN          NaN
2    PRE3      MIA     Home     0.0         NaN      NaN          NaN
3    REG1      MIN     Home     1.0        32.0      0.0        101.0
4    REG2      CHI     Away     0.0        73.0      0.0         54.0
5    REG3      PIT     Away     1.0        36.0      1.0         65.0
6    REG4      JAX     Home     1.0       118.0      0.0         77.0
7    REG5       GB     Home     0.0        24.0      0.0        159.0
8    REG6      DET     Away     1.0         7.0      0.0         97.0
9    REG7      BAL     Away     1.0        39.0      0.0        201.0
10   REG8      NYJ     Away     0.0        69.0      1.0         32.0
11   REG9      CLE     Home     0.0        11.0      0.0         49.0
12  REG10      NaN      NaN     NaN         NaN      NaN          NaN
13  REG11       LV     Away     1.0        49.0      0.0         32.0
14  REG12      PIT     Home     1.0        13.0      0.0         39.0
15  REG13      LAC     Home     0.0        85.0      0.0         52.0
16  REG14       SF     Home     0.0        55.0      0.0         77.0
17  REG15      DEN     Away     1.0        96.0      1.0          3.0
18  REG16      BAL     Home     1.0        85.0      1.0        125.0
19  REG17       KC     Home     1.0        36.0      1.0        266.0
20  REG18      CLE     Away     0.0         NaN      NaN         26.0
21  POST1       LV     Home     1.0        26.0      1.0        116.0
22  POST2      TEN     Away     1.0        17.0      0.0        109.0
23  POST3       KC     Away     1.0        19.0      0.0         54.0
24  POST4      LAR  Neutral     0.0        48.0      0.0         89.0

    Chase_TD  Higgins_Yards  Higgins_TD
0        NaN            NaN         NaN
1        NaN            NaN         NaN
2        NaN            NaN         NaN
3        1.0           58.0         1.0
4        1.0           60.0         1.0
5        2.0            NaN         NaN
6        0.0            NaN         NaN
7        1.0           32.0         0.0
8        0.0           44.0         0.0
9        1.0           62.0         0.0
10       1.0           97.0         0.0
11       0.0           78.0         0.0
12       NaN            NaN         NaN
13       1.0           15.0         0.0
14       0.0          114.0         1.0
15       0.0          138.0         1.0
16       2.0          114.0         0.0
17       0.0           23.0         0.0
18       0.0          194.0         2.0
19       3.0           62.0         0.0
20       0.0            NaN         NaN
21       0.0           10.0         0.0
22       0.0           96.0         0.0
23       1.0          103.0         0.0
24       0.0          100.0         2.0

In [6]:
# Convert the 'Result' column to string
merged_df['Result'] = merged_df['Result'].astype(str)

# Replace '1.0' with 'Win' and '0.0' with 'Loss' in the 'Result' column
merged_df['Result'] = merged_df['Result'].replace({'1.0': 'Win', '0.0': 'Loss'})

print(merged_df)

     Week Opponent Location Result  Boyd_Yards  Boyd_TD  Chase_Yards  \
0    PRE1       TB     Away    Win         NaN      NaN          NaN
1    PRE2      WSH     Away   Loss         NaN      NaN          NaN
2    PRE3      MIA     Home   Loss         NaN      NaN          NaN
3    REG1      MIN     Home    Win        32.0      0.0        101.0
4    REG2      CHI     Away   Loss        73.0      0.0         54.0
5    REG3      PIT     Away    Win        36.0      1.0         65.0
6    REG4      JAX     Home    Win       118.0      0.0         77.0
7    REG5       GB     Home   Loss        24.0      0.0        159.0
8    REG6      DET     Away    Win         7.0      0.0         97.0
9    REG7      BAL     Away    Win        39.0      0.0        201.0
10   REG8      NYJ     Away   Loss        69.0      1.0         32.0
11   REG9      CLE     Home   Loss        11.0      0.0         49.0
12  REG10      NaN      NaN    nan         NaN      NaN          NaN
13  REG11       LV     Away    Win        49.0      0.0         32.0
14  REG12      PIT     Home    Win        13.0      0.0         39.0
15  REG13      LAC     Home   Loss        85.0      0.0         52.0
16  REG14       SF     Home   Loss        55.0      0.0         77.0
17  REG15      DEN     Away    Win        96.0      1.0          3.0
18  REG16      BAL     Home    Win        85.0      1.0        125.0
19  REG17       KC     Home    Win        36.0      1.0        266.0
20  REG18      CLE     Away   Loss         NaN      NaN         26.0
21  POST1       LV     Home    Win        26.0      1.0        116.0
22  POST2      TEN     Away    Win        17.0      0.0        109.0
23  POST3       KC     Away    Win        19.0      0.0         54.0
24  POST4      LAR  Neutral   Loss        48.0      0.0         89.0

    Chase_TD  Higgins_Yards  Higgins_TD
0        NaN            NaN         NaN
1        NaN            NaN         NaN
2        NaN            NaN         NaN
3        1.0           58.0         1.0
4        1.0           60.0         1.0
5        2.0            NaN         NaN
6        0.0            NaN         NaN
7        1.0           32.0         0.0
8        0.0           44.0         0.0
9        1.0           62.0         0.0
10       1.0           97.0         0.0
11       0.0           78.0         0.0
12       NaN            NaN         NaN
13       1.0           15.0         0.0
14       0.0          114.0         1.0
15       0.0          138.0         1.0
16       2.0          114.0         0.0
17       0.0           23.0         0.0
18       0.0          194.0         2.0
19       3.0           62.0         0.0
20       0.0            NaN         NaN
21       0.0           10.0         0.0
22       0.0           96.0         0.0
23       1.0          103.0         0.0
24       0.0          100.0         2.0

In [7]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\owner\anaconda3\lib\site-packages (2.9.6)

In [8]:
import psycopg2
from sqlalchemy import create_engine


host = config['POSTGRES_HOST']
port = '5432'
database = 'postgres'
username = config['POSTGRES_USERNAME']
password = config['POSTGRES_PASSWORD']
table_name = config['TABLE_NAME']

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

merged_df.to_sql(table_name, engine, if_exists='replace', index=False)

engine.dispose()